.acf_postbox .inside {
    overflow: hidden;
}

/** All day **/

.acf_postbox .field_type-true_false {
    position: relative;
}

.acf_postbox .field_type-true_false .label {
    margin-left: 20px;
}

.acf_postbox .field_type-true_false .true_false {
    position: absolute;
    top: 12px;
    left: 9px;
}

/** Date **/

.acf_postbox .field_type-date_picker {
    float: left;
    clear: left;
    width: 110px;
    border: none;
}

.acf_postbox .acf-date_picker input {
    width: 100px !important;
}

.acf_postbox .acf-date_picker:after {
}

/** Time **/

.acf_postbox .field_type-select {
    float: left;
    width: 50px;
    padding-top: 20px !important;
    border: none;
}

.acf_postbox .field_type-select .label {
    overflow: hidden;
    width: 0;
    height: 14px;
}

.acf_postbox .field_type-select:before {
    position: absolute;
    top: 44px;
}

.acf_postbox div[data-field_name$="hour"]:before {
    left: -10px;
    content: '@';
}

.acf_postbox div[data-field_name$="minutes"]:before {
    left: 0;
    content: ':';
}