.acf-postbox .inside {
  overflow: hidden;
}

/** All day **/

.acf-postbox .acf-field-true-false {
  position: relative;
}

.acf-postbox .acf-field-true-false .acf-label {
  margin-left: 20px;
}

.acf-postbox .acf-field-true-false .acf-input {
  position: absolute;
  top: 14px;
  left: 10px;
}

/** Date **/

.acf-postbox .acf-field-date-picker {
  float: left;
  clear: left;
  width: 130px;
  border: none;
}

.acf-postbox .acf-field-date-picker .acf-date-picker {
  overflow: visible;
}

.acf-postbox .acf-field-date-picker input[type="text"] {
  width: 100px !important;
}

.acf-postbox .acf-field-date-picker:after {
}

/** Time **/

.acf-postbox .acf-field-select {
  float: left;
  clear: none;
  width: 70px;
  padding-top: 20px !important;
  border: none;
}

.acf-postbox .acf-field-select .acf-label {
  overflow: hidden;
  width: 0;
  height: 14px;
}

.acf-postbox .acf-field-select:before {
  position: absolute;
  top: 44px;
}

.acf-postbox div[data-name$="hour"]:before {
  left: -10px;
  content: '@';
}

.acf-postbox div[data-name$="minutes"]:before {
  left: 0;
  content: ':';
}